body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    
    color: rgba(85,85,85,1);
}
a{
    color: #00cbe6;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
a:hover{
    color:  powderblue;
}

ul{
    list-style: none;
}
.contents{
    margin: 0 auto;
    width: 70%;
}
.about, .skill, .career, .work{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 10px;
}
.about ul{
    display: flex;
    justify-content: center;
}
.about ul li{
    margin: 50px;
}
.github {
    color: black;
}
.twitter {
    color: #00acee;
}
.contents__title{
    background-image: url('./img/tape.png');
    background-size:cover;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
}

.header-logo{
    text-align: center;
    font-size: 100px;
    font-family: 'Fredericka the Great', cursive;
}
#hero{
    width: 30vw;
    margin: 0 auto;
    height: auto;
    display: block;
    opacity: 0.5;
}

.boxes{
    margin: 10px;
    padding-left: 30px;
    border-left: 3px solid #dcdcdc;
}
.box{
    margin: 25px;
    width: 250px;
    height: 120px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    overflow: hidden;
}
.box-wrapper{
    position: relative;
}
.box-point{
    width: 15px;
    height: 15px;
    background-color: #dcdcdc;
    border-radius: 50%;
    position: absolute;
    left: -38px;
    top: 10px;
}
.box__title{
    margin: 0;
    padding: 5px;
    background-color: powderblue;
    font-size: 16px;
    
}
.box__description{
    margin: 0;
    padding: 5px;
    font-size: 14px;
}

footer{
    width: 100vw;
    height: 100px;
    text-align: center;
}
