body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: lavenderblush;
    color: rgba(85,85,85,1);
}
a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    
}
h1{
    text-align: center;
}
.header__logo{
    text-align: center;
}
.header___menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
.header___menu ul li{
    margin: 20px;
    padding: 10px;
}
main{
    text-align: center;
}
footer{
    text-align: center;
}